body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #27292D;
    color: #F5F2F3;
}

@media all and (min-width: 500px){
    body{
        margin: 2.5%;
    }
    #header{
        grid-template: repeat(1, 50% 30% 25%)/ repeat(1, 1fr);
        display: grid;
        grid-gap: 5%;
        margin-bottom: 7%;
    }
    #header h2{
        font-size: 7ex;
        text-align: center;
    }
    #header input{
        font-size: 6ex;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 1em;
        padding-left: 2%;
        border-color: black;
        background-color: #F5F2F3;
    }
    #header button{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 5ex;
        font-weight: bold;
        border-radius: 2em;
        background-color: #3F99E9;
        border-color: black;
    }
    #header button:hover{
        background-color: #1F76C3;
    }
    #logo{
        padding: 5% 0;
        border-radius: 2em;
        margin: 0 10%;
        border-color: black;
    }
    #logo img{
        display: block;
        margin: 0 auto;
        min-height: 150px;  
    }
    #info{
        text-align: center;
        padding: 7%;
    }
    #descr{
        padding: 0 0 5%;
    }
    #dataEPS{
        padding: 0 0 5%;
    }
    #incomeSt, #balance{
        text-align: center;
        padding-bottom: 3%;
    }
    table{
        margin: 0 auto;
    }
    tbody{
        font-size: 3ex;
    }
    #balanceDiagram, #incomeDiagram{
        margin: 0 3%;
    }
}
@media all and (min-width: 1280px){
    body{
        margin: 1.5% 5%;
    }
    #header{
        grid-template: repeat(1, 50% 30% 25%)/ repeat(1, 1fr);
        display: grid;
        grid-gap: 5%;
        margin-bottom: 7%;
    }
    #header h2{
        font-size: 5ex;
        text-align: center;
    }
    #header input{
        font-size: 5ex;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 1em;
        padding-left: 2%;
        border-color: black;
        background-color: #F5F2F3;
    }
    #header button{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 5ex;
        font-weight: bold;
        border-radius: 2em;
        background-color: #3F99E9;
        border-color: black;
    }
    #header button:hover{
        background-color: #1F76C3;
    }
    #logo{
        padding: 5% 0;
        border-radius: 2em;
        margin: 0 10%;
        border-color: black;
    }
    #logo img{
        display: block;
        margin: 0 auto;
        max-height: 100px;
    }
    #info{
        text-align: center;
        padding: 3%;
        font-size: 4ex;
    }
    #descr{
        padding: 0 0 3%;
        font-size: 3ex;
    }
    #dataEPS{
        padding: 0 0 3%;
        font-size: 3ex;
    }
    #incomeSt, #balance{
        text-align: center;
        padding-bottom: 3%;
    }
    #incomeSt h4, #balance h4{
        font-size: 4ex;
    }
    table{
        margin: 0 auto;
    }
    tbody{
        font-size: 3ex;
    } 
    #balanceDiagram, #incomeDiagram{
        margin: 0 15%;
    }   
}