*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#logoPetByUs{
    width: 90%;
}

@media screen and (max-width:1400px){
    header{
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Arial', sans-serif;
    }
    footer{
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    }
    .fa{
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }
    .socialMedia{
        display: flex;
        justify-content: space-evenly;
        width: 90vw;
    }
    .socialMedia i{
        font-size: 50px;
    }
    .socialMedia a{
        display: flex;
        width: 100px;
        height: 100px;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: yellow;
    }
    .socialMedia a:nth-child(1){
        background: #3B5998;
    }
    .socialMedia a:nth-child(2){
        background: #55ACEE;
    }
    .socialMedia a:nth-child(3){
        background: #f09433; 
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }
    .socialMedia a:nth-child(4){
        background-color: #0077B5;
    }
    .socialMedia a:nth-child(5){
        background-color: #24292e;
    }
    .fa:hover{
        opacity: 0.7;
    }
    .fa-facebook, 
    .fa-twitter,
    .fa-instagram,
    .fa-linkedin,
    .fa-github{
        color: white;
    }
    header h1, footer h1{
        font-size: 60px;
    }
    footer h2{
        font-size: 40px;
    }

    .petbyus a{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #headPet{
        margin-top: 8%;
        font-size: 2em;
        text-align: center;
    }

    #logoPetByUs path:nth-child(2){
        stroke-dasharray: 450px;
        stroke-dashoffset: 450px;
        animation: line-anim 4s ease forwards;
    }

    #logoPetByUs path:nth-child(3){
        stroke-dasharray: 464px;
        stroke-dashoffset: 464px;
        animation: line-anim 4s ease forwards 0.3s;
    }
    #logoPetByUs path:nth-child(4){
        stroke-dasharray: 337px;
        stroke-dashoffset: 337px;
        animation: line-anim 4s ease forwards 0.6s;
    }
    #logoPetByUs path:nth-child(5){
        stroke-dasharray: 611px;
        stroke-dashoffset: 611px;
        animation: line-anim 4s ease forwards 0.9s;
    }
    #logoPetByUs path:nth-child(6){
        stroke-dasharray: 373px;
        stroke-dashoffset: 373px;
        animation: line-anim 4s ease forwards 1.2s;
    }
    #logoPetByUs path:nth-child(7){
        stroke-dasharray: 484px;
        stroke-dashoffset: 484px;
        animation: line-anim 4s ease forwards 1.5s;
    }
    #logoPetByUs path:nth-child(8){
        stroke-dasharray: 494px;
        stroke-dashoffset: 494px;
        animation: line-anim 4s ease forwards 1.8s;
    }
    #logoPetByUs path:nth-child(9){
        stroke-dasharray: 450px;
        stroke-dashoffset: 450px;
        animation: line-anim 4s ease forwards 2.1s;
    }
    #logoPetByUs path:nth-child(10){
        stroke-dasharray: 550px;
        stroke-dashoffset: 550px;
        animation: line-anim 4s ease forwards 2.4s;
    }
    #logoPetByUs path:nth-child(11){
        stroke-dasharray: 566px;
        stroke-dashoffset: 566px;
        animation: line-anim 4s ease forwards 2.7s;
    }
    #logoPetByUs path:nth-child(12){
        stroke-dasharray: 313px;
        stroke-dashoffset: 313px;
        animation: line-anim 4s ease forwards 3s;
    }
    #logoPetByUs path:nth-child(13){
        stroke-dasharray: 464px;
        stroke-dashoffset: 464px;
        animation: line-anim 4s ease forwards 3.3s;
    }
    #logoPetByUs path:nth-child(14){
        stroke-dasharray: 509px;
        stroke-dashoffset: 509px;
        animation: line-anim 4s ease forwards 3.6s;
    }
    #logoPetByUs path:nth-child(15){
        stroke-dasharray: 336px;
        stroke-dashoffset: 336px;
        animation: line-anim 4s ease forwards 3.9s;
    }
    @keyframes line-anim{
        to{
            stroke-dashoffset: 0;
        }
    }

    .animation{
        height: 100vh;
        background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
        position: relative;
        overflow: hidden;
    }
    .paper-plane{
        height: 100px;
        position: absolute;
        top: 60%;
        left: 0%;
    }
    .stock{
        font-size: 30px;
        position: absolute;
        top: 90%;
        width: 30%;
        left: 35%;
        border: none;
        border-radius: 1em;
        background-color:  #ff5050;
        color: rgb(228, 220, 220);
    }
    .stock:focus{
        outline: none;
    }
    .stock:hover{
        background-color: #ce1111;
        color: white;
    }
    a, a:visited, a:link{
        text-decoration: none;
        color: rgb(228, 220, 220);
    }
    .RSP{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .RSP h1{
        font-size: 36px;
        color: black;
        border: 2px solid;
        padding: 20px;
        border-color: indianred;
    }
    #RSPButton{
        font-size: 30px;
        width: 30%;
        border: none;
        border-radius: 1em;
        background-color:  #ff5050;
        color: rgb(228, 220, 220);
    }
    #RSPButton:focus{
        outline: none;
    }
    #RSPButton:hover{
        background-color: #ce1111;
        color: white;
    }
    .rockL{
        transform: rotateY(180deg);
        animation: shakeLeft 4s ease-in infinite;
    }
    .rockR{
        animation: shakeRight 4s ease-in infinite;
    }

    @keyframes shakeLeft{
        0%{
            transform: rotateY(180deg) translateY(0px);
        }
        10%{
            transform: rotateY(180deg) translateY(-50px);
        }
        20%{
            transform: rotateY(180deg) translateY(0px);
        }
        30%{
            transform: rotateY(180deg) translateY(-50px);
        }
        40%{
            transform: rotateY(180deg) translateY(0px);
        }
        50%{
            transform: rotateY(180deg) translateY(-50px);
        }
        60%{
            transform: rotateY(180deg) translateY(0px);
        }
        70%{
            transform: rotateY(180deg) translateY(-50px);
        }
        80%{
            transform: rotateY(180deg) translateY(0px);
        }
        90%{
            transform: rotateY(180deg) translateY(0px);
        }
        100%{
            transform: rotateY(180deg) translateY(0px);
        }
        
    }
    @keyframes shakeRight{
        0%{
            transform: translateY(0px);
        }
        10%{
            transform: translateY(-50px);
        }
        20%{
            transform: translateY(0px);
        }
        30%{
            transform: translateY(-50px);
        }
        40%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(-50px);
        }
        60%{
            transform: translateY(0px);
        }
        70%{
            transform: translateY(-50px);
        }
        80%{
            transform: translateY(0px);
        }
        90%{
            transform: translateY(0px);
        }
        100%{
            transform: translateY(0px);
        }
    }
    .navigation{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .navigation h1{
        font-size: 3em;
        color: #5d4954;
    }
    .navigation a{
        font-size: 2em;
        width: 50%;
        left: 25%;
        border: none;
        border-radius: 1em;
        background-color:  #ff5050;
        color: rgb(228, 220, 220);
        text-align: center;
    }
    .navigation a:focus{
        outline: none;
    }
    .navigation a:hover{
        opacity: 0.8;
    }
}
@media screen and (max-width:1024px){
    header{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Arial', sans-serif;
    }
    footer{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    }
    .fa{
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }
    .socialMedia{
        display: flex;
        justify-content: space-evenly;
        width: 100vw;
    }
    .socialMedia i{
        font-size: 50px;
    }
    .socialMedia a{
        display: flex;
        width: 14vw;
        height:14vh;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        max-width: 150px;
        max-height: 150px;
        border-radius: 50%;
    }
    .socialMedia a:nth-child(1){
        background: #3B5998;
    }
    .socialMedia a:nth-child(2){
        background: #55ACEE;
    }
    .socialMedia a:nth-child(3){
        background: #f09433; 
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }
    .socialMedia a:nth-child(4){
        background-color: #0077B5;
    }
    .socialMedia a:nth-child(5){
        background-color: #24292e;
    }
    .socialMedia a:focus{
        outline: none;
    }
    .fa:hover{
        opacity: 0.7;
    }
    .fa-facebook {
        color: white;
    }
    .fa-twitter {
        color: white;
    }
    .fa-instagram{
        color: white;
    }
    .fa-linkedin{
        color: white;
    }
    .fa-github{
        color: white;
    }
    header h1{
        font-size: 8em;
    }
    footer h1{
        font-size: 5em;
    }

    .petbyus a{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    
    #headPet{
        font-size: 3em;
        text-align: center;
    }

     path:nth-child(2){
        stroke-dasharray: 450px;
        stroke-dashoffset: 450px;
        animation: line-anim 4s ease forwards;
    }

    #logoPetByUs path:nth-child(3){
        stroke-dasharray: 464px;
        stroke-dashoffset: 464px;
        animation: line-anim 4s ease forwards 0.3s;
    }
    #logoPetByUs path:nth-child(4){
        stroke-dasharray: 337px;
        stroke-dashoffset: 337px;
        animation: line-anim 4s ease forwards 0.6s;
    }
    #logoPetByUs path:nth-child(5){
        stroke-dasharray: 611px;
        stroke-dashoffset: 611px;
        animation: line-anim 4s ease forwards 0.9s;
    }
    #logoPetByUs path:nth-child(6){
        stroke-dasharray: 373px;
        stroke-dashoffset: 373px;
        animation: line-anim 4s ease forwards 1.2s;
    }
    #logoPetByUs path:nth-child(7){
        stroke-dasharray: 484px;
        stroke-dashoffset: 484px;
        animation: line-anim 4s ease forwards 1.5s;
    }
    #logoPetByUs path:nth-child(8){
        stroke-dasharray: 494px;
        stroke-dashoffset: 494px;
        animation: line-anim 4s ease forwards 1.8s;
    }
    #logoPetByUs path:nth-child(9){
        stroke-dasharray: 450px;
        stroke-dashoffset: 450px;
        animation: line-anim 4s ease forwards 2.1s;
    }
    #logoPetByUs path:nth-child(10){
        stroke-dasharray: 550px;
        stroke-dashoffset: 550px;
        animation: line-anim 4s ease forwards 2.4s;
    }
    #logoPetByUs path:nth-child(11){
        stroke-dasharray: 566px;
        stroke-dashoffset: 566px;
        animation: line-anim 4s ease forwards 2.7s;
    }
    #logoPetByUs path:nth-child(12){
        stroke-dasharray: 313px;
        stroke-dashoffset: 313px;
        animation: line-anim 4s ease forwards 3s;
    }
    #logoPetByUs path:nth-child(13){
        stroke-dasharray: 464px;
        stroke-dashoffset: 464px;
        animation: line-anim 4s ease forwards 3.3s;
    }
    #logoPetByUs path:nth-child(14){
        stroke-dasharray: 509px;
        stroke-dashoffset: 509px;
        animation: line-anim 4s ease forwards 3.6s;
    }
    #logoPetByUs path:nth-child(15){
        stroke-dasharray: 336px;
        stroke-dashoffset: 336px;
        animation: line-anim 4s ease forwards 3.9s;
    }
    @keyframes line-anim{
        to{
            stroke-dashoffset: 0;
        }
    }

    .animation{
        height: 100vh;
        background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
        position: relative;
        overflow: hidden;
    }
    .paper-plane{
        height: 100px;
        position: absolute;
        top: 60%;
        left: 0%;
    }
    .stock{
        font-size: 5em;
        position: absolute;
        top: 85%;
        width: 70%;
        left: 15%;
        border: none;
        border-radius: 1em;
        background-color:  #ff5050;
        color: rgb(228, 220, 220);
    }
    .stock:focus{
        outline: none;
    }
    a, a:visited, a:link{
        text-decoration: none;
        color: rgb(228, 220, 220);
    }
    .RSP{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .RSP h1{
        font-size: 5em;
        color: black;
        border: 2px solid;
        padding: 10px;
        border-color: indianred;
    }
    #RSPButton{
        font-size: 5em;
        width: 70%;
        left: 15%;
        border: none;
        border-radius: 1em;
        background-color:  #ff5050;
        color: rgb(228, 220, 220);
    }
    #RSPButton:focus{
        outline: none;
    }
    .hands{
        width: 100%;
    }
    .rockL{
        transform: rotateY(180deg);
        animation: shakeLeft 4s ease-in infinite;
        width: 47%;
        margin-left: 2.5%
    }
    .rockR{
        animation: shakeRight 4s ease-in infinite;
        width: 47%;
        margin-right: 2.5%;
    }

    @keyframes shakeLeft{
        0%{
            transform: rotateY(180deg) translateY(0px);
        }
        10%{
            transform: rotateY(180deg) translateY(-50px);
        }
        20%{
            transform: rotateY(180deg) translateY(0px);
        }
        30%{
            transform: rotateY(180deg) translateY(-50px);
        }
        40%{
            transform: rotateY(180deg) translateY(0px);
        }
        50%{
            transform: rotateY(180deg) translateY(-50px);
        }
        60%{
            transform: rotateY(180deg) translateY(0px);
        }
        70%{
            transform: rotateY(180deg) translateY(-50px);
        }
        80%{
            transform: rotateY(180deg) translateY(0px);
        }
        90%{
            transform: rotateY(180deg) translateY(0px);
        }
        100%{
            transform: rotateY(180deg) translateY(0px);
        }
        
    }
    @keyframes shakeRight{
        0%{
            transform: translateY(0px);
        }
        10%{
            transform: translateY(-50px);
        }
        20%{
            transform: translateY(0px);
        }
        30%{
            transform: translateY(-50px);
        }
        40%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(-50px);
        }
        60%{
            transform: translateY(0px);
        }
        70%{
            transform: translateY(-50px);
        }
        80%{
            transform: translateY(0px);
        }
        90%{
            transform: translateY(0px);
        }
        100%{
            transform: translateY(0px);
        }
    }
    .navigation{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .navigation h1{
        font-size: 5em;
    }
    .navigation a{
        font-size: 5em;
        width: 70%;
        left: 15%;
        border: none;
        border-radius: 1em;
        background-color:  #ff5050;
        color: rgb(228, 220, 220);
        text-align: center;
    }
    .navigation a:focus{
        outline: none;
    }
        
}
@media screen and (max-width:768px){
    header{
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Arial', sans-serif;
    }
    footer{
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    }
    .fa{
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }
    .socialMedia{
        display: flex;
        justify-content: space-evenly;
        width: 90vw;
    }
    .socialMedia i{
        font-size: 20px;
    }
    .socialMedia a{
        display: flex;
        width: 10vw;
        height:10vh;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        max-width: 150px;
        max-height: 150px;
        border-radius: 50%;
    }
    .socialMedia a:nth-child(1){
        background: #3B5998;
    }
    .socialMedia a:nth-child(2){
        background: #55ACEE;
    }
    .socialMedia a:nth-child(3){
        background: #f09433; 
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }
    .socialMedia a:nth-child(4){
        background-color: #0077B5;
    }
    .socialMedia a:nth-child(5){
        background-color: #24292e;
    }
    .socialMedia a:focus{
        outline: none;
    }
    .socialMedia a:hover,
    .fa{
        opacity: 0.7;
    }
    .fa-facebook {
        color: white;
    }
    .fa-twitter {
        color: white;
    }
    .fa-instagram{
        color: white;
    }
    .fa-linkedin{
        color: white;
    }
    .fa-github{
        color: white;
    }
    header h1{
        font-size: 4em;
    }
    footer h1{
        font-size: 4em;
    }

    .petbyus a{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    #headPet{
        font-size: 1.5em;
        text-align: center;
    }

     path:nth-child(2){
        stroke-dasharray: 450px;
        stroke-dashoffset: 450px;
        animation: line-anim 4s ease forwards;
    }

    #logoPetByUs path:nth-child(3){
        stroke-dasharray: 464px;
        stroke-dashoffset: 464px;
        animation: line-anim 4s ease forwards 0.3s;
    }
    #logoPetByUs path:nth-child(4){
        stroke-dasharray: 337px;
        stroke-dashoffset: 337px;
        animation: line-anim 4s ease forwards 0.6s;
    }
    #logoPetByUs path:nth-child(5){
        stroke-dasharray: 611px;
        stroke-dashoffset: 611px;
        animation: line-anim 4s ease forwards 0.9s;
    }
    #logoPetByUs path:nth-child(6){
        stroke-dasharray: 373px;
        stroke-dashoffset: 373px;
        animation: line-anim 4s ease forwards 1.2s;
    }
    #logoPetByUs path:nth-child(7){
        stroke-dasharray: 484px;
        stroke-dashoffset: 484px;
        animation: line-anim 4s ease forwards 1.5s;
    }
    #logoPetByUs path:nth-child(8){
        stroke-dasharray: 494px;
        stroke-dashoffset: 494px;
        animation: line-anim 4s ease forwards 1.8s;
    }
    #logoPetByUs path:nth-child(9){
        stroke-dasharray: 450px;
        stroke-dashoffset: 450px;
        animation: line-anim 4s ease forwards 2.1s;
    }
    #logoPetByUs path:nth-child(10){
        stroke-dasharray: 550px;
        stroke-dashoffset: 550px;
        animation: line-anim 4s ease forwards 2.4s;
    }
    #logoPetByUs path:nth-child(11){
        stroke-dasharray: 566px;
        stroke-dashoffset: 566px;
        animation: line-anim 4s ease forwards 2.7s;
    }
    #logoPetByUs path:nth-child(12){
        stroke-dasharray: 313px;
        stroke-dashoffset: 313px;
        animation: line-anim 4s ease forwards 3s;
    }
    #logoPetByUs path:nth-child(13){
        stroke-dasharray: 464px;
        stroke-dashoffset: 464px;
        animation: line-anim 4s ease forwards 3.3s;
    }
    #logoPetByUs path:nth-child(14){
        stroke-dasharray: 509px;
        stroke-dashoffset: 509px;
        animation: line-anim 4s ease forwards 3.6s;
    }
    #logoPetByUs path:nth-child(15){
        stroke-dasharray: 336px;
        stroke-dashoffset: 336px;
        animation: line-anim 4s ease forwards 3.9s;
    }
    @keyframes line-anim{
        to{
            stroke-dashoffset: 0;
        }
    }

    .animation{
        height: 100vh;
        background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
        position: relative;
        overflow: hidden;
    }
    .paper-plane{
        height: 100px;
        position: absolute;
        top: 50%;
        left: -25%;
    }
    .stock{
        font-size: 2em;
        position: absolute;
        top: 85%;
        width: 70%;
        left: 15%;
        border: none;
        border-radius: 1em;
        background-color:  #ff5050;
        color: rgb(228, 220, 220);
    }
    .stock:focus{
        outline: none;
    }
    a, a:visited, a:link{
        text-decoration: none;
        color: rgb(228, 220, 220);
    }
    .RSP{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .RSP h1{
        font-size: 3em;
        color: black;
        border: 2px solid;
        padding: 10px;
        border-color: indianred;
    }
    #RSPButton{
        font-size: 2em;
        width: 70%;
        left: 15%;
        border: none;
        border-radius: 1em;
        background-color:  #ff5050;
        color: rgb(228, 220, 220);
    }
    #RSPButton:focus{
        outline: none;
    }
    .hands{
        width: 100%;
    }
    .rockL{
        transform: rotateY(180deg);
        animation: shakeLeft 4s ease-in infinite;
        width: 47%;
        margin-left: 2.5%
    }
    .rockR{
        animation: shakeRight 4s ease-in infinite;
        width: 47%;
        margin-right: 2.5%;
    }

    @keyframes shakeLeft{
        0%{
            transform: rotateY(180deg) translateY(0px);
        }
        10%{
            transform: rotateY(180deg) translateY(-50px);
        }
        20%{
            transform: rotateY(180deg) translateY(0px);
        }
        30%{
            transform: rotateY(180deg) translateY(-50px);
        }
        40%{
            transform: rotateY(180deg) translateY(0px);
        }
        50%{
            transform: rotateY(180deg) translateY(-50px);
        }
        60%{
            transform: rotateY(180deg) translateY(0px);
        }
        70%{
            transform: rotateY(180deg) translateY(-50px);
        }
        80%{
            transform: rotateY(180deg) translateY(0px);
        }
        90%{
            transform: rotateY(180deg) translateY(0px);
        }
        100%{
            transform: rotateY(180deg) translateY(0px);
        }
        
    }
    @keyframes shakeRight{
        0%{
            transform: translateY(0px);
        }
        10%{
            transform: translateY(-50px);
        }
        20%{
            transform: translateY(0px);
        }
        30%{
            transform: translateY(-50px);
        }
        40%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(-50px);
        }
        60%{
            transform: translateY(0px);
        }
        70%{
            transform: translateY(-50px);
        }
        80%{
            transform: translateY(0px);
        }
        90%{
            transform: translateY(0px);
        }
        100%{
            transform: translateY(0px);
        }
    }
    .navigation{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .navigation h1{
        font-size: 3em;
    }
    .navigation a{
        font-size: 2em;
        width: 70%;
        left: 15%;
        border: none;
        border-radius: 1em;
        background-color:  #ff5050;
        color: rgb(228, 220, 220);
        text-align: center;
    }
    .navigation a:focus{
        outline: none;
    }
        
}
